<a href="https://colab.research.google.com/github/Engyogesh/miniproject/blob/main/miniproject_11_Reddit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from tabulate import tabulate
import traceback
import numpy as np
import matplotlib.pyplot as plt
from requests import get
import requests
import os

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
Data = pd.read_csv(r'/content/gdrive/My Drive/mini project/Reddit.csv')
display(pd.DataFrame(Data))
df = pd.DataFrame(Data)

,index,author_fullname,selftext,category,title,upvote_ratio,is_original_content,media_embed,total_awards_received,score,num_comments,num_crossposts
0,1,t2_kgsa3my,NaN,NaN,RFK Jr. states that measles outbreaks are â€œcom...,0.93,False,{},0,35431,2693,0
1,2,t2_g2fh9fd,NaN,NaN,Jasmine Crockett - ''We may be heading towards...,0.85,False,{},0,92893,3037,44
2,3,t2_70mqq,NaN,NaN,Just a man and his rescued pelican being pals.,0.98,False,{},0,23110,275,5
3,4,t2_5krl4,NaN,NaN,TIL a man who fell overboard while fishing alo...,0.97,False,{},0,17853,281,0
4,5,t2_ppry7atz,NaN,NaN,Uhhhh..?,0.95,False,{},0,6875,284,0
5,6,t2_x7ycr2b70,"Everybody, meet Bubbles. A 6 month old stray f...",NaN,Adopted my first ever cat today!,0.99,False,{},0,7168,292,2
6,7,t2_p9tkh,NaN,NaN,Tulsi Gabbard fires more than 100 intelligence...,0.95,False,{},0,17951,1812,2
7,8,t2_7ootbo06,NaN,NaN,Jasmine Crockett All But Dares House Colleague...,0.96,False,{},0,13563,384,5
8,9,t2_mtt6uyeju,NaN,NaN,The rule of law matters!!!,0.96,False,{},0,32938,398,5
9,10,t2_80kmkxzb,NaN,NaN,Trump Calls Zelensky a â€˜Dictatorâ€™ by Christo K...,0.90,False,{},0,33162,734,10
10,11,t2_tjlff4qx9,â€œIt's a cruel world full of hate out there. Yo...,NaN,Taylor Lautner defends Selena Gomez from body-...,0.96,False,{},0,6708,231,0
11,12,t2_6hji,NaN,NaN,Teachers are increasingly worried about the ef...,0.89,False,{},0,25885,2471,2
12,13,t2_1x532oln,NaN,NaN,We had parents too you know . Parents who insp...,0.92,False,{},0,17457,972,1
13,14,t2_2fa3b72k,NaN,NaN,i think the drinks made it more fun all in all?,0.96,False,{},0,19997,231,3
14,15,t2_58bt4,NaN,NaN,Maybe Maybe Maybe,0.97,False,{},0,26785,116,7
15,16,t2_r6bxmrfbe,NaN,NaN,Dwyane Wade says that his first indication tha...,0.97,False,"<iframe class=""embedly-embed"" src=""https://cdn...",0,11592,1052,4
16,17,t2_9m25vumk,NaN,NaN,Anti-Trump sentiment drives dramatic upturn in...,0.96,False,{},0,19354,701,1
17,18,t2_quwxfh3qi,My message for all of you arguing â€œyeah but Bi...,NaN,Make billionaires millionaires,0.85,False,{},0,60864,1827,8
18,19,t2_4eaxokx5,NaN,NaN,Musk brings fingers together in meeting for th...,0.92,False,{},0,21100,1918,0
19,20,t2_dv4zh5b2k,So tomorrow we will be escorted like criminals...,NaN,Please learn from USAID - they will use our pl...,0.96,False,{},0,7325,455,0
20,21,t2_7wkh687u,NaN,NaN,We want the list regardless of party!,0.99,False,{},0,5954,243,0
21,22,t2_ixuef,NaN,NaN,RFK Dismisses Measles Outbreak That Killed Kid...,0.97,False,{},0,16407,685,6
22,23,t2_pjpaul,NaN,NaN,Our gay cruise just rescued a sinking refugee ...,0.81,False,{},0,35247,3792,8
23,24,t2_19w7by1q22,NaN,NaN,Cringe ðŸ¤£,0.97,False,{},0,12093,515,3
24,25,t2_7gq8650w,NaN,NaN,"Turns Out, Trump and DOGE Havenâ€™t Actually Sav...",0.93,False,{},0,4543,422,1

1.**# distinct author full name.**

In [ ]:
distinct_authors = df['author_fullname'].nunique()
print(f"Distinct author full names: {distinct_authors}")

Distinct author full names: 25

2.**Get Top 20 authors with highest average # category
author_fullname, avg_category.**

In [ ]:
top_avg_category_authors = (
    df.groupby('author_fullname')['category']
    .count()
    .reset_index(name='avg_category')
    .sort_values(by='avg_category', ascending=False)
    .head(20)
)

# Print the dataframe as a grid table
print(tabulate(top_avg_category_authors, headers='keys', tablefmt='grid'))

+----+-------------------+----------------+
|    | author_fullname   |   avg_category |
+====+===================+================+
|  0 | t2_19w7by1q22     |              0 |
+----+-------------------+----------------+
| 13 | t2_dv4zh5b2k      |              0 |
+----+-------------------+----------------+
| 23 | t2_tjlff4qx9      |              0 |
+----+-------------------+----------------+
| 22 | t2_r6bxmrfbe      |              0 |
+----+-------------------+----------------+
| 21 | t2_quwxfh3qi      |              0 |
+----+-------------------+----------------+
| 20 | t2_ppry7atz       |              0 |
+----+-------------------+----------------+
| 19 | t2_pjpaul         |              0 |
+----+-------------------+----------------+
| 18 | t2_p9tkh          |              0 |
+----+-------------------+----------------+
| 17 | t2_mtt6uyeju      |              0 |
+----+-------------------+----------------+
| 16 | t2_kgsa3my        |              0 |
+----+-------------------+----------------+
| 15 | t2_ixuef          |              0 |
+----+-------------------+----------------+
| 14 | t2_g2fh9fd        |              0 |
+----+-------------------+----------------+
| 12 | t2_9m25vumk       |              0 |
+----+-------------------+----------------+
|  1 | t2_1x532oln       |              0 |
+----+-------------------+----------------+
| 11 | t2_80kmkxzb       |              0 |
+----+-------------------+----------------+
| 10 | t2_7wkh687u       |              0 |
+----+-------------------+----------------+
|  9 | t2_7ootbo06       |              0 |
+----+-------------------+----------------+
|  8 | t2_7gq8650w       |              0 |
+----+-------------------+----------------+
|  7 | t2_70mqq          |              0 |
+----+-------------------+----------------+
|  6 | t2_6hji           |              0 |
+----+-------------------+----------------+

3.**Get Top 20 author names having highest total_awards_received
author_fullname, total_awards_received.**

In [ ]:
top_award_authors = (
    df.groupby('author_fullname')['total_awards_received']
    .sum()
    .reset_index(name='total_awards_received')
    .sort_values(by='total_awards_received', ascending=False)
    .head(20)
)

# Print the dataframe as a grid table
print(tabulate(top_award_authors, headers='keys', tablefmt='grid'))

+----+-------------------+-------------------------+
|    | author_fullname   |   total_awards_received |
+====+===================+=========================+
|  0 | t2_19w7by1q22     |                       0 |
+----+-------------------+-------------------------+
| 13 | t2_dv4zh5b2k      |                       0 |
+----+-------------------+-------------------------+
| 23 | t2_tjlff4qx9      |                       0 |
+----+-------------------+-------------------------+
| 22 | t2_r6bxmrfbe      |                       0 |
+----+-------------------+-------------------------+
| 21 | t2_quwxfh3qi      |                       0 |
+----+-------------------+-------------------------+
| 20 | t2_ppry7atz       |                       0 |
+----+-------------------+-------------------------+
| 19 | t2_pjpaul         |                       0 |
+----+-------------------+-------------------------+
| 18 | t2_p9tkh          |                       0 |
+----+-------------------+-------------------------+
| 17 | t2_mtt6uyeju      |                       0 |
+----+-------------------+-------------------------+
| 16 | t2_kgsa3my        |                       0 |
+----+-------------------+-------------------------+
| 15 | t2_ixuef          |                       0 |
+----+-------------------+-------------------------+
| 14 | t2_g2fh9fd        |                       0 |
+----+-------------------+-------------------------+
| 12 | t2_9m25vumk       |                       0 |
+----+-------------------+-------------------------+
|  1 | t2_1x532oln       |                       0 |
+----+-------------------+-------------------------+
| 11 | t2_80kmkxzb       |                       0 |
+----+-------------------+-------------------------+
| 10 | t2_7wkh687u       |                       0 |
+----+-------------------+-------------------------+
|  9 | t2_7ootbo06       |                       0 |
+----+-------------------+-------------------------+
|  8 | t2_7gq8650w       |                       0 |
+----+-------------------+-------------------------+
|  7 | t2_70mqq          |                       0 |
+----+-------------------+-------------------------+
|  6 | t2_6hji           |                       0 |
+----+-------------------+-------------------------+

4.**Get Top 20 having maximum  # num_comments
author_fullname, num_comments.**

In [ ]:
top_comment_authors = (
    df.groupby('author_fullname')['num_comments']
    .sum()
    .reset_index(name='num_comments')
    .sort_values(by='num_comments', ascending=False)
    .head(20)
)

# Print the dataframe as a table
print(tabulate(top_comment_authors, headers='keys', tablefmt='grid'))

+----+-------------------+----------------+
|    | author_fullname   |   num_comments |
+====+===================+================+
| 19 | t2_pjpaul         |           3792 |
+----+-------------------+----------------+
| 14 | t2_g2fh9fd        |           3037 |
+----+-------------------+----------------+
| 16 | t2_kgsa3my        |           2693 |
+----+-------------------+----------------+
|  6 | t2_6hji           |           2471 |
+----+-------------------+----------------+
|  3 | t2_4eaxokx5       |           1918 |
+----+-------------------+----------------+
| 21 | t2_quwxfh3qi      |           1827 |
+----+-------------------+----------------+
| 18 | t2_p9tkh          |           1812 |
+----+-------------------+----------------+
| 22 | t2_r6bxmrfbe      |           1052 |
+----+-------------------+----------------+
|  1 | t2_1x532oln       |            972 |
+----+-------------------+----------------+
| 11 | t2_80kmkxzb       |            734 |
+----+-------------------+----------------+
| 12 | t2_9m25vumk       |            701 |
+----+-------------------+----------------+
| 15 | t2_ixuef          |            685 |
+----+-------------------+----------------+
|  0 | t2_19w7by1q22     |            515 |
+----+-------------------+----------------+
| 13 | t2_dv4zh5b2k      |            455 |
+----+-------------------+----------------+
|  8 | t2_7gq8650w       |            422 |
+----+-------------------+----------------+
| 17 | t2_mtt6uyeju      |            398 |
+----+-------------------+----------------+
|  9 | t2_7ootbo06       |            384 |
+----+-------------------+----------------+
| 24 | t2_x7ycr2b70      |            292 |
+----+-------------------+----------------+
| 20 | t2_ppry7atz       |            284 |
+----+-------------------+----------------+
|  5 | t2_5krl4          |            281 |
+----+-------------------+----------------+

5.**Get Top 20 author names having  highest average score
author_fullname, avg_score.**

In [ ]:
top_avg_score_authors = (
    df.groupby('author_fullname')['score']
    .mean()
    .reset_index(name='avg_score')
    .sort_values(by='avg_score', ascending=False)
    .head(20)
)
print(top_avg_score_authors)

   author_fullname  avg_score
14      t2_g2fh9fd    92893.0
21    t2_quwxfh3qi    60864.0
16      t2_kgsa3my    35431.0
19       t2_pjpaul    35247.0
11     t2_80kmkxzb    33162.0
17    t2_mtt6uyeju    32938.0
4         t2_58bt4    26785.0
6          t2_6hji    25885.0
7         t2_70mqq    23110.0
3      t2_4eaxokx5    21100.0
2      t2_2fa3b72k    19997.0
12     t2_9m25vumk    19354.0
18        t2_p9tkh    17951.0
5         t2_5krl4    17853.0
1      t2_1x532oln    17457.0
15        t2_ixuef    16407.0
9      t2_7ootbo06    13563.0
0    t2_19w7by1q22    12093.0
22    t2_r6bxmrfbe    11592.0
13    t2_dv4zh5b2k     7325.0

6.**Get Top 20 titles having highest score
title, score.**

In [ ]:
top_score_titles = (
    df[['title', 'score']]
    .sort_values(by='score', ascending=False)
    .head(20)
)
print(top_score_titles)

                                                title  score
1   Jasmine Crockett - ''We may be heading towards...  92893
17                     Make billionaires millionaires  60864
0   RFK Jr. states that measles outbreaks are â€œcom...  35431
22  Our gay cruise just rescued a sinking refugee ...  35247
9   Trump Calls Zelensky a â€˜Dictatorâ€™ by Christo K...  33162
8                          The rule of law matters!!!  32938
14                                  Maybe Maybe Maybe  26785
11  Teachers are increasingly worried about the ef...  25885
2      Just a man and his rescued pelican being pals.  23110
18  Musk brings fingers together in meeting for th...  21100
13    i think the drinks made it more fun all in all?  19997
16  Anti-Trump sentiment drives dramatic upturn in...  19354
6   Tulsi Gabbard fires more than 100 intelligence...  17951
3   TIL a man who fell overboard while fishing alo...  17853
12  We had parents too you know . Parents who insp...  17457
21  RFK Dismisses Measles Outbreak That Killed Kid...  16407
7   Jasmine Crockett All But Dares House Colleague...  13563
23                                           Cringe ðŸ¤£  12093
15  Dwyane Wade says that his first indication tha...  11592
19  Please learn from USAID - they will use our pl...   7325

7.**Get Top 20 titles having highest num_crossposts
title, num_crossposts.**

In [ ]:
top_crosspost_titles = (
    df[['title', 'num_crossposts']]
    .sort_values(by='num_crossposts', ascending=False)
    .head(20)
)
print(top_crosspost_titles)

                                                title  num_crossposts
1   Jasmine Crockett - ''We may be heading towards...              44
9   Trump Calls Zelensky a â€˜Dictatorâ€™ by Christo K...              10
17                     Make billionaires millionaires               8
22  Our gay cruise just rescued a sinking refugee ...               8
14                                  Maybe Maybe Maybe               7
21  RFK Dismisses Measles Outbreak That Killed Kid...               6
2      Just a man and his rescued pelican being pals.               5
7   Jasmine Crockett All But Dares House Colleague...               5
8                          The rule of law matters!!!               5
15  Dwyane Wade says that his first indication tha...               4
23                                           Cringe ðŸ¤£               3
13    i think the drinks made it more fun all in all?               3
5                    Adopted my first ever cat today!               2
6   Tulsi Gabbard fires more than 100 intelligence...               2
11  Teachers are increasingly worried about the ef...               2
12  We had parents too you know . Parents who insp...               1
24  Turns Out, Trump and DOGE Havenâ€™t Actually Sav...               1
16  Anti-Trump sentiment drives dramatic upturn in...               1
18  Musk brings fingers together in meeting for th...               0
19  Please learn from USAID - they will use our pl...               0

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score, cross_val_predict, KFold
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor
from xgboost import XGBRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from tabulate import tabulate

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
data= pd.read_excel(r'/content/gdrive/My Drive/mini project/house_price_data.xlsx')
display(pd.DataFrame(data))
df = pd.DataFrame(data)

,Bedrooms,Bathrooms,Square Footage,Year Built,mainroad,guestroom,basement,hotwaterheating,airconditioning,Price
0,3,2.0,1500,2005,yes,no,yes,no,yes,350000
1,4,3.0,2000,2010,no,yes,no,yes,no,450000
2,2,1.0,1200,1995,yes,no,yes,no,yes,275000
3,5,4.0,3000,2020,yes,yes,no,no,no,650000
4,3,2.5,1800,2008,no,no,yes,yes,yes,400000
5,4,3.0,2200,2012,yes,yes,no,no,no,475000
6,2,1.0,1000,1985,yes,no,yes,yes,yes,250000
7,5,4.0,3200,2021,no,yes,no,no,no,700000
8,3,2.0,1600,2006,yes,no,yes,no,yes,375000
9,4,3.0,2300,2015,no,yes,no,yes,no,500000
10,3,2.0,1400,1998,yes,no,yes,no,yes,330000
11,4,3.0,2100,2003,no,yes,no,no,no,460000
12,2,1.5,1100,1990,yes,no,yes,yes,yes,290000
13,5,3.0,2900,2018,yes,yes,no,no,no,620000
14,3,2.0,1700,2007,no,no,yes,yes,yes,380000
15,4,3.0,2400,2011,yes,yes,no,no,no,480000
16,2,1.0,900,1980,yes,no,yes,no,yes,240000
17,5,4.0,3100,2019,no,yes,no,yes,no,680000
18,3,2.0,1550,2009,yes,no,yes,no,yes,365000
19,4,3.0,2500,2014,yes,yes,no,no,no,490000
20,3,2.5,1650,2011,no,no,yes,yes,yes,415000
21,4,3.0,2600,2013,yes,yes,no,no,no,510000
22,2,1.0,1300,1987,yes,no,yes,yes,yes,285000
23,5,4.0,3300,2022,no,yes,no,no,no,720000
24,3,2.0,1500,1992,yes,no,yes,no,yes,345000

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score, cross_val_predict, KFold
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor
from xgboost import XGBRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from tabulate import tabulate



# Define categorical columns and target column
categorical_cols = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning']
target_col = 'Price'
features = df.drop(columns=[target_col])

# Identify the non-numeric columns for encoding
ordinal_cols = []  # Specify related columns here if inter-related
onehot_cols = [col for col in categorical_cols if col not in ordinal_cols]

# Create a transformer for preprocessing
preprocessor = ColumnTransformer(
    transformers=[
        ('ordinal', OrdinalEncoder(), ordinal_cols),
        ('onehot', OneHotEncoder(drop='first'), onehot_cols),
        ('scale', StandardScaler(), features.select_dtypes(include=[np.number]).columns.tolist()),
    ],
    remainder='passthrough'
)

# Initialize models
models = {
    'Linear Regression': LinearRegression(),
    'SVM Regression': SVR(),
    'MLP Regression': MLPRegressor(max_iter=1000),
    'XGBoost Regression': XGBRegressor(),
    'KNN Regression': KNeighborsRegressor()
}

# Scale the target column if needed
scaler = StandardScaler()
df[target_col] = scaler.fit_transform(df[[target_col]])

# Perform 2-fold cross-validation and evaluate models
kf = KFold(n_splits=2, shuffle=True, random_state=42)
results = []

for name, model in models.items():
    pipeline = Pipeline(steps=[('preprocessor', preprocessor), ('model', model)])


    # Metrics calculated from cross-validated predictions
    mse = mean_squared_error(df[target_col], cv_predictions)
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(df[target_col], cv_predictions)
    r2 = r2_score(df[target_col], cv_predictions)

    results.append({
        'Model': name,
        'R2': r2,
        'MSE': mse,
        'RMSE': rmse,
        'MAE': mae
    })

# Create DataFrame for Results
results_df = pd.DataFrame(results)

# Print Results in Grid Format
print(tabulate(results_df, headers='keys', tablefmt='grid'))

# Feature Importance (for XGBoost)
xgb_model = XGBRegressor()
xgb_pipeline = Pipeline(steps=[('preprocessor', preprocessor), ('model', xgb_model)])
xgb_pipeline.fit(features, df[target_col])

if hasattr(xgb_model, 'feature_importances_'):
    feature_importances = pd.DataFrame({
        'Feature': features.columns,
        'Importance': xgb_model.feature_importances_
    }).sort_values(by='Importance', ascending=False)
    print("\nFeature Importances:")
    print(tabulate(feature_importances, headers='keys', tablefmt='grid'))

+----+--------------------+----------+-----------+----------+----------+
|    | Model              |       R2 |       MSE |     RMSE |      MAE |
+====+====================+==========+===========+==========+==========+
|  0 | Linear Regression  | 0.932794 | 0.0672057 | 0.259241 | 0.177683 |
+----+--------------------+----------+-----------+----------+----------+
|  1 | SVM Regression     | 0.932794 | 0.0672057 | 0.259241 | 0.177683 |
+----+--------------------+----------+-----------+----------+----------+
|  2 | MLP Regression     | 0.932794 | 0.0672057 | 0.259241 | 0.177683 |
+----+--------------------+----------+-----------+----------+----------+
|  3 | XGBoost Regression | 0.932794 | 0.0672057 | 0.259241 | 0.177683 |
+----+--------------------+----------+-----------+----------+----------+
|  4 | KNN Regression     | 0.932794 | 0.0672057 | 0.259241 | 0.177683 |
+----+--------------------+----------+-----------+----------+----------+

Feature Importances:
+----+-----------------+--------------+
|    | Feature         |   Importance |
+====+=================+==============+
|  5 | guestroom       |  0.452312    |
+----+-----------------+--------------+
|  1 | Bathrooms       |  0.429232    |
+----+-----------------+--------------+
|  8 | airconditioning |  0.0460771   |
+----+-----------------+--------------+
|  7 | hotwaterheating |  0.036548    |
+----+-----------------+--------------+
|  6 | basement        |  0.0332219   |
+----+-----------------+--------------+
|  0 | Bedrooms        |  0.00254985  |
+----+-----------------+--------------+
|  3 | Year Built      |  5.95167e-05 |
+----+-----------------+--------------+
|  2 | Square Footage  |  0           |
+----+-----------------+--------------+
|  4 | mainroad        |  0           |
+----+-----------------+--------------+