<a href="https://colab.research.google.com/github/Engyogesh/miniproject/blob/main/miniproject_5_Airline_and_airport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from tabulate import tabulate
import traceback
import numpy as np
import matplotlib.pyplot as plt
from requests import get
import requests
import os

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
data = pd.read_excel(r'/content/gdrive/My Drive/mini project/airports_analysis.xlsx')
display(pd.DataFrame(data))
df = pd.DataFrame(data)

    airport_id       name    city    country  altitude  rank
0            4  Airport D  City D  Country D      5000     1
1            5  Airport E  City E  Country E      4800     2
2           11  Airport K  City K  Country K      4700     3
3           10  Airport J  City J  Country J      4600     4
4            6  Airport F  City F  Country F      4500     5
5           12  Airport L  City L  Country L      4400     6
6            8  Airport H  City H  Country H      4300     7
7            7  Airport G  City G  Country G      4200     8
8            9  Airport I  City I  Country I      4100     9
9            1  Airport A  City A  Country A      4000    10
10          13  Airport M  City M  Country M      3900    11
11          14  Airport N  City N  Country N      3800    12
12          15  Airport O  City O  Country O      3700    13
13          16  Airport P  City P  Country P      3600    14
14           3  Airport C  City C  Country C      3500    15
15          17  Airport Q  City Q  Country Q      3400    16
16          18  Airport R  City R  Country R      3300    17
17           2  Airport B  City B  Country B      3200    18
18          19  Airport S  City S  Country S      3100    19
19          20  Airport T  City T  Country T      3000    20

In [ ]:
1."Top 20 highest altitude airports in the world. Choose only “type” with “airport”."

df_airports = df[['airport_id', 'name', 'city', 'country', 'altitude']]
df_airports = df_airports.sort_values(by='altitude', ascending=False).head(20)
df_airports['rank'] = range(1, 21)

df_airports_result = df_airports[['airport_id', 'name', 'city', 'country', 'altitude','rank']]

print(tabulate(df_airports_result, headers='keys', tablefmt='grid'))

+----+--------------+-----------+--------+-----------+------------+--------+
|    |   airport_id | name      | city   | country   |   altitude |   rank |
+====+==============+===========+========+===========+============+========+
|  0 |            4 | Airport D | City D | Country D |       5000 |      1 |
+----+--------------+-----------+--------+-----------+------------+--------+
|  1 |            5 | Airport E | City E | Country E |       4800 |      2 |
+----+--------------+-----------+--------+-----------+------------+--------+
|  2 |           11 | Airport K | City K | Country K |       4700 |      3 |
+----+--------------+-----------+--------+-----------+------------+--------+
|  3 |           10 | Airport J | City J | Country J |       4600 |      4 |
+----+--------------+-----------+--------+-----------+------------+--------+
|  4 |            6 | Airport F | City F | Country F |       4500 |      5 |
+----+--------------+-----------+--------+-----------+------------+--------+
|  5 |           12 | Airport L | City L | Country L |       4400 |      6 |
+----+--------------+-----------+--------+-----------+------------+--------+
|  6 |            8 | Airport H | City H | Country H |       4300 |      7 |
+----+--------------+-----------+--------+-----------+------------+--------+
|  7 |            7 | Airport G | City G | Country G |       4200 |      8 |
+----+--------------+-----------+--------+-----------+------------+--------+
|  8 |            9 | Airport I | City I | Country I |       4100 |      9 |
+----+--------------+-----------+--------+-----------+------------+--------+
|  9 |            1 | Airport A | City A | Country A |       4000 |     10 |
+----+--------------+-----------+--------+-----------+------------+--------+
| 10 |           13 | Airport M | City M | Country M |       3900 |     11 |
+----+--------------+-----------+--------+-----------+------------+--------+
| 11 |           14 | Airport N | City N | Country N |       3800 |     12 |
+----+--------------+-----------+--------+-----------+------------+--------+
| 12 |           15 | Airport O | City O | Country O |       3700 |     13 |
+----+--------------+-----------+--------+-----------+------------+--------+
| 13 |           16 | Airport P | City P | Country P |       3600 |     14 |
+----+--------------+-----------+--------+-----------+------------+--------+
| 14 |            3 | Airport C | City C | Country C |       3500 |     15 |
+----+--------------+-----------+--------+-----------+------------+--------+
| 15 |           17 | Airport Q | City Q | Country Q |       3400 |     16 |
+----+--------------+-----------+--------+-----------+------------+--------+
| 16 |           18 | Airport R | City R | Country R |       3300 |     17 |
+----+--------------+-----------+--------+-----------+------------+--------+
| 17 |            2 | Airport B | City B | Country B |       3200 |     18 |
+----+--------------+-----------+--------+-----------+------------+--------+
| 18 |           19 | Airport S | City S | Country S |       3100 |     19 |
+----+--------------+-----------+--------+-----------+------------+--------+
| 19 |           20 | Airport T | City T | Country T |       3000 |     20 |
+----+--------------+-----------+--------+-----------+------------+--------+

In [ ]:
2."Top 20 countries that have the highest total # of airports."

df_country_airports = df.groupby('country').size().reset_index(name='Total_Airports')
df_country_airports = df_country_airports.sort_values(by='Total_Airports', ascending=False).head(20)
df_country_airports['Rank'] = range(1, 21)

print(tabulate(df_country_airports, headers='keys', tablefmt='grid'))

+----+-----------+------------------+--------+
|    | country   |   Total_Airports |   Rank |
+====+===========+==================+========+
|  0 | Country A |                1 |      1 |
+----+-----------+------------------+--------+
|  1 | Country B |                1 |      2 |
+----+-----------+------------------+--------+
| 18 | Country S |                1 |      3 |
+----+-----------+------------------+--------+
| 17 | Country R |                1 |      4 |
+----+-----------+------------------+--------+
| 16 | Country Q |                1 |      5 |
+----+-----------+------------------+--------+
| 15 | Country P |                1 |      6 |
+----+-----------+------------------+--------+
| 14 | Country O |                1 |      7 |
+----+-----------+------------------+--------+
| 13 | Country N |                1 |      8 |
+----+-----------+------------------+--------+
| 12 | Country M |                1 |      9 |
+----+-----------+------------------+--------+
| 11 | Country L |                1 |     10 |
+----+-----------+------------------+--------+
| 10 | Country K |                1 |     11 |
+----+-----------+------------------+--------+
|  9 | Country J |                1 |     12 |
+----+-----------+------------------+--------+
|  8 | Country I |                1 |     13 |
+----+-----------+------------------+--------+
|  7 | Country H |                1 |     14 |
+----+-----------+------------------+--------+
|  6 | Country G |                1 |     15 |
+----+-----------+------------------+--------+
|  5 | Country F |                1 |     16 |
+----+-----------+------------------+--------+
|  4 | Country E |                1 |     17 |
+----+-----------+------------------+--------+
|  3 | Country D |                1 |     18 |
+----+-----------+------------------+--------+
|  2 | Country C |                1 |     19 |
+----+-----------+------------------+--------+
| 19 | Country T |                1 |     20 |
+----+-----------+------------------+--------+

In [ ]:
3."Top 20 cities that have the highest total # of airports. (Two cities from different countries can have the same name, and you have to make sure the numbers are not messed up due to that!)"

df_city_airports = df.groupby(['city', 'country']).size().reset_index(name='Total_Airports')
df_city_airports = df_city_airports.sort_values(by='Total_Airports', ascending=False).head(20)
df_city_airports['rank'] = range(1, 21)

print(tabulate(df_city_airports, headers='keys', tablefmt='grid'))

+----+--------+-----------+------------------+--------+
|    | city   | country   |   Total_Airports |   rank |
+====+========+===========+==================+========+
|  0 | City A | Country A |                1 |      1 |
+----+--------+-----------+------------------+--------+
|  1 | City B | Country B |                1 |      2 |
+----+--------+-----------+------------------+--------+
| 18 | City S | Country S |                1 |      3 |
+----+--------+-----------+------------------+--------+
| 17 | City R | Country R |                1 |      4 |
+----+--------+-----------+------------------+--------+
| 16 | City Q | Country Q |                1 |      5 |
+----+--------+-----------+------------------+--------+
| 15 | City P | Country P |                1 |      6 |
+----+--------+-----------+------------------+--------+
| 14 | City O | Country O |                1 |      7 |
+----+--------+-----------+------------------+--------+
| 13 | City N | Country N |                1 |      8 |
+----+--------+-----------+------------------+--------+
| 12 | City M | Country M |                1 |      9 |
+----+--------+-----------+------------------+--------+
| 11 | City L | Country L |                1 |     10 |
+----+--------+-----------+------------------+--------+
| 10 | City K | Country K |                1 |     11 |
+----+--------+-----------+------------------+--------+
|  9 | City J | Country J |                1 |     12 |
+----+--------+-----------+------------------+--------+
|  8 | City I | Country I |                1 |     13 |
+----+--------+-----------+------------------+--------+
|  7 | City H | Country H |                1 |     14 |
+----+--------+-----------+------------------+--------+
|  6 | City G | Country G |                1 |     15 |
+----+--------+-----------+------------------+--------+
|  5 | City F | Country F |                1 |     16 |
+----+--------+-----------+------------------+--------+
|  4 | City E | Country E |                1 |     17 |
+----+--------+-----------+------------------+--------+
|  3 | City D | Country D |                1 |     18 |
+----+--------+-----------+------------------+--------+
|  2 | City C | Country C |                1 |     19 |
+----+--------+-----------+------------------+--------+
| 19 | City T | Country T |                1 |     20 |
+----+--------+-----------+------------------+--------+

In [ ]:
data = pd.read_excel(r'/content/gdrive/My Drive/mini project/airline.xlsx')
display(pd.DataFrame(data))
df_flights = pd.DataFrame(data)

,city,total_inbound_flights,inbound_rank,total_outbound_flights,outbound_rank,total_num_passengers
0,New York,1300,1,1350,1,300000
1,Los Angeles,1250,2,1280,2,290000
2,Chicago,1200,3,1220,3,280000
3,Houston,1150,4,1180,4,270000
4,Miami,1100,5,1130,5,260000
5,San Francisco,1080,6,1100,6,250000
6,Seattle,1060,7,1085,7,240000
7,Atlanta,1050,8,1070,8,230000
8,Dallas,1020,9,1045,9,220000
9,Denver,1000,10,1025,10,210000
10,Las Vegas,980,11,1005,11,205000
11,Orlando,960,12,990,12,200000
12,Boston,940,13,970,13,195000
13,Detroit,920,14,950,14,190000
14,Phoenix,900,15,930,15,185000
15,Philadelphia,880,16,910,16,180000
16,Charlotte,860,17,890,17,175000
17,San Diego,850,18,870,18,170000
18,Minneapolis,840,19,850,19,165000
19,Washington,830,20,835,20,160000

In [ ]:
1."In the year 2009, print Top 10 cities in the USA that received maximum # inbound flights."

top_inbound_2009 = df_flights[['city', 'total_inbound_flights']].sort_values(by='total_inbound_flights', ascending=False).head(10)
top_inbound_2009['inbound_rank'] = range(1, 11)

print("Top 10 Cities by Inbound Flights in 2009:")
print(tabulate(top_inbound_2009, headers='keys', tablefmt='grid'))

Top 10 Cities by Inbound Flights in 2009:
+----+---------------+-------------------------+----------------+
|    | city          |   total_inbound_flights |   inbound_rank |
+====+===============+=========================+================+
|  0 | New York      |                    1300 |              1 |
+----+---------------+-------------------------+----------------+
|  1 | Los Angeles   |                    1250 |              2 |
+----+---------------+-------------------------+----------------+
|  2 | Chicago       |                    1200 |              3 |
+----+---------------+-------------------------+----------------+
|  3 | Houston       |                    1150 |              4 |
+----+---------------+-------------------------+----------------+
|  4 | Miami         |                    1100 |              5 |
+----+---------------+-------------------------+----------------+
|  5 | San Francisco |                    1080 |              6 |
+----+---------------+-------------------------+----------------+
|  6 | Seattle       |                    1060 |              7 |
+----+---------------+-------------------------+----------------+
|  7 | Atlanta       |                    1050 |              8 |
+----+---------------+-------------------------+----------------+
|  8 | Dallas        |                    1020 |              9 |
+----+---------------+-------------------------+----------------+
|  9 | Denver        |                    1000 |             10 |
+----+---------------+-------------------------+----------------+

In [ ]:
2."In the year 2009, print Top 10 cities in the USA that received maximum # outbound flights."

top_outbound_2009 = df_flights[['city', 'total_outbound_flights']].sort_values(by='total_outbound_flights', ascending=False).head(10)
top_outbound_2009['outbound_rank'] = range(1, 11)

print("\nTop 10 Cities by Outbound Flights in 2009:")
print(tabulate(top_outbound_2009, headers='keys', tablefmt='grid'))

Top 10 Cities by Outbound Flights in 2009:
+----+---------------+--------------------------+-----------------+
|    | city          |   total_outbound_flights |   outbound_rank |
+====+===============+==========================+=================+
|  0 | New York      |                     1350 |               1 |
+----+---------------+--------------------------+-----------------+
|  1 | Los Angeles   |                     1280 |               2 |
+----+---------------+--------------------------+-----------------+
|  2 | Chicago       |                     1220 |               3 |
+----+---------------+--------------------------+-----------------+
|  3 | Houston       |                     1180 |               4 |
+----+---------------+--------------------------+-----------------+
|  4 | Miami         |                     1130 |               5 |
+----+---------------+--------------------------+-----------------+
|  5 | San Francisco |                     1100 |               6 |
+----+---------------+--------------------------+-----------------+
|  6 | Seattle       |                     1085 |               7 |
+----+---------------+--------------------------+-----------------+
|  7 | Atlanta       |                     1070 |               8 |
+----+---------------+--------------------------+-----------------+
|  8 | Dallas        |                     1045 |               9 |
+----+---------------+--------------------------+-----------------+
|  9 | Denver        |                     1025 |              10 |
+----+---------------+--------------------------+-----------------+

In [ ]:
import pandas as pd
from tabulate import tabulate
import traceback
import numpy as np
import matplotlib.pyplot as plt
from requests import get
import requests
import os
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
data = pd.read_csv(r'/content/gdrive/My Drive/mini project/world_food_production.csv')
display(pd.DataFrame(data))
df = pd.DataFrame(data)

,Entity,Year,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
0,Afghanistan,1961,700000.0,319000.00,7.467702e+06,2279000.00,1873812.000,56315.0,3270871.000,12000.000,...,10100.000,232910.000,1131882.00,2.250000e+05,870970.000,835368.000,5600.00,3139079.000,63439.000,15100.000
1,Afghanistan,1962,700000.0,319000.00,7.420515e+06,2279000.00,2044797.000,61519.0,3562524.000,12800.000,...,10100.000,259412.000,1111006.00,2.250000e+05,883512.000,867170.000,6000.00,3181580.000,65118.000,15100.000
2,Afghanistan,1963,713000.0,319000.00,8.479074e+06,1947000.00,2096077.000,63596.0,3409916.000,12800.000,...,10100.000,251529.000,1145004.00,2.250000e+05,996674.000,922621.000,6160.00,3304256.000,61760.000,15100.000
3,Afghanistan,1964,720000.0,380000.00,9.113779e+06,2230000.00,2388264.000,66604.0,3229336.000,12800.000,...,12400.000,247556.000,1160831.00,2.650000e+05,1162048.000,1190061.000,6400.00,3392527.000,62759.000,18400.000
4,Afghanistan,1965,720000.0,380000.00,1.006791e+07,2282000.00,2559608.000,72418.0,3169104.000,13200.000,...,13700.000,266947.000,1138860.00,2.870000e+05,1075084.000,874245.000,6800.00,3450849.000,66269.000,20400.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11907,Zimbabwe,2017,1532572.0,20502618.00,2.673608e+05,30991516.16,324020.864,83904.6,874.408,4077308.066,...,129055.800,40749.600,661978.98,7.018985e+06,63.200,34945.000,75000.00,1267.200,145042.096,1579154.000
11908,Zimbabwe,2018,1560100.0,31871776.60,2.667498e+05,16884482.98,309316.252,66842.6,1383.792,2107639.306,...,168074.000,21606.400,485223.38,3.415107e+06,68.000,34659.800,80357.14,1016.776,143384.384,907419.000
11909,Zimbabwe,2019,773976.0,3382151.40,4.790022e+05,64989733.20,540128.592,9854.4,298831.560,3320915.400,...,1134136.812,45436.400,361128.20,9.645766e+06,30401.400,20961.132,79790.97,195845.198,525095.272,3117813.560
11910,Zimbabwe,2020,1202347.0,3535631.80,7.437612e+05,43020887.20,5635740.200,276279.0,1727311.800,983256.000,...,72179.400,12023.200,279613.40,1.131937e+07,574723.374,158022.122,8000.00,1523258.600,28946.840,7994169.220
11911,Zimbabwe,2021,1469664.0,7575899.96,1.153263e+06,1316724.80,206550.000,145563.0,262706.284,421789.600,...,3597076.600,26225.256,11000.00,3.834786e+05,590070.590,2696.200,8000.00,425303.698,29313.660,112519.364

In [ ]:
1."Read the input csv file from here or here and convert columns to rows.
The "Value" column values should come from the crop column names such as Maize Production (tonnes), Rice Production (tonnes) from the input csv file.
(hint: UnPivot melt)."

melted_data = pd.melt(data, id_vars=['Entity', 'Year'], var_name='Crop', value_name='Value')

print(tabulate(melted_data.head(), headers='keys', tablefmt='grid'))

+----+-------------+--------+---------------------------+---------+
|    | Entity      |   Year | Crop                      |   Value |
+====+=============+========+===========================+=========+
|  0 | Afghanistan |   1961 | Maize Production (tonnes) |  700000 |
+----+-------------+--------+---------------------------+---------+
|  1 | Afghanistan |   1962 | Maize Production (tonnes) |  700000 |
+----+-------------+--------+---------------------------+---------+
|  2 | Afghanistan |   1963 | Maize Production (tonnes) |  713000 |
+----+-------------+--------+---------------------------+---------+
|  3 | Afghanistan |   1964 | Maize Production (tonnes) |  720000 |
+----+-------------+--------+---------------------------+---------+
|  4 | Afghanistan |   1965 | Maize Production (tonnes) |  720000 |
+----+-------------+--------+---------------------------+---------+

In [ ]:
2."For each unique value in column "Productions", you have to assign a unique integer/float value. The following is an example output with unique float value. You are not supposed to use custom function. You are not supposed to provide explicit mapping between values in "Produtions" and integer/float values"

data['Productions'] = (
    data['Maize Production (tonnes)'].astype(str) + " " +
    data['Rice  Production ( tonnes)'].astype(str) + " " +
    data['Yams  Production (tonnes)'].astype(str) + " " +
    data['Wheat Production (tonnes)'].astype(str)
)

# Factorize the unique values in the 'Productions' column
data['Productions_Factor'], unique_productions = pd.factorize(data['Productions'])

# Convert the factorized integers to floats
data['Productions_Float'] = data['Productions_Factor'].astype(float) / len(unique_productions)
print(data[['Productions', 'Productions_Float']])

                                     Productions  Productions_Float
0          700000.0 319000.0 7467702.0 2279000.0           0.000000
1          700000.0 319000.0 7420515.0 2279000.0           0.000084
2          713000.0 319000.0 8479074.0 1947000.0           0.000168
3          720000.0 380000.0 9113779.0 2230000.0           0.000252
4         720000.0 380000.0 10067913.0 2282000.0           0.000336
...                                          ...                ...
11907  1532572.0 20502618.0 267360.8 30991516.16           0.999580
11908  1560100.0 31871776.6 266749.8 16884482.98           0.999664
11909   773976.0 3382151.4 479002.206 64989733.2           0.999748
11910  1202347.0 3535631.8 743761.226 43020887.2           0.999832
11911   1469664.0 7575899.96 1153262.8 1316724.8           0.999916

[11912 rows x 2 columns]

In [ ]:
data = pd.read_csv(r'/content/gdrive/My Drive/mini project/medical_data_synthetic.csv')
display(pd.DataFrame(data))
df = pd.DataFrame(data)

  patient_name   bp  sugar obesity  gender
0          ram  111    110     yes    male
1        radha  100    120      no  female
2        kumar  120    120     yes    male
3         john  130     90      no    male
4         lily   92     91     yes  female

In [ ]:
3."Read "medical_data_synthetic.csv" and convert yes/no to 1/0 for non-numeric column ("obesity") without using custom function (lambda) for the medical dataset here. Column "gender" need to be converted to numeric too without custom function."

import pandas as pd
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder
from tabulate import tabulate
label_encoder = LabelEncoder()
data['obesity'] = label_encoder.fit_transform(data['obesity'])

# Convert 'gender' column to numeric using Ordinal Encoding
# Here we assume 'gender' has categories like 'Male', 'Female'
ordinal_encoder = OrdinalEncoder()
data['gender'] = ordinal_encoder.fit_transform(data[['gender']])

# Display the modified dataframe in grid format
print(tabulate(data.head(), headers='keys', tablefmt='grid'))

+----+----------------+------+---------+-----------+----------+
|    | patient_name   |   bp |   sugar |   obesity |   gender |
+====+================+======+=========+===========+==========+
|  0 | ram            |  111 |     110 |         1 |        1 |
+----+----------------+------+---------+-----------+----------+
|  1 | radha          |  100 |     120 |         0 |        0 |
+----+----------------+------+---------+-----------+----------+
|  2 | kumar          |  120 |     120 |         1 |        1 |
+----+----------------+------+---------+-----------+----------+
|  3 | john           |  130 |      90 |         0 |        1 |
+----+----------------+------+---------+-----------+----------+
|  4 | lily           |   92 |      91 |         1 |        0 |
+----+----------------+------+---------+-----------+----------+